{% extends "mouni/base.html" %}

{% block container %}
{% if heading %}
<h3>{{heading}}</h3>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class = "alert alert-danger">
                    <strong> {{ error|escape }} </strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class = "alert alert-danger">
                    <strong> {{ error|escape }} </strong>
            </div>
        {% endfor %}
    {% endif %}
<div class="row spacer">
<div class="col-2">
    <label>{{examform.subject.label}}</label>
</div>
<div class="col-4">
    <div class="input-group">
        {{examform.subject}}
    </div>
</div>
</div>
<div class="row spacer">
<div class="col-2">
    <label>{{examform.skillType.label}}</label>
</div>
<div class="col-4">
    <div class="input-group">
        {{examform.skillType}}
    </div>
</div>
</div>
<div class="row spacer">
<div class="col-2">
    <label>{{examform.teacher.label}}</label>
</div>
<div class="col-4">
    <div class="input-group" >
        {{examform.teacher}}
    </div>
</div>
</div>
<div class="row spacer">
<div class="col-2">
    <label>{{examform.start.label}}</label>
</div>
<div class="col-4">
    <div class="input-group">
        {{examform.start}}
    </div>
</div>
</div>
<hr>
{{ formset.management_form }}
{% for form in formset %}
<div class="mb-5 mx-5 border border-primary">
        <div class="form-group mb-6 mx-6">
             <label  class="col-sm-2 col-form-label"> {{form.question.label}} </label>
             <button type="button" class="float-right btn btn-danger ml-5 remove-question">Delete</button>
             <div class="col-sm-10">
                {{form.question}}
             </div>
        </div>
        <div class="form-group mb-0">
            <label  class="col-sm-2 col-form-label">{{form.ans.label}}</label>
            <div class="col-sm-10">
               {{form.ans}}
            </div>
        </div>
        <div class="form-group mb-0">
            <label  class="col-sm-2 col-form-label">{{form.op2.label}}</label>
            <div class="col-sm-10">
               {{form.op2}}
            </div>
        </div>
        <div class="form-group mb-0">
            <label class="col-sm-2 col-form-label">{{form.op3.label}}</label>
            <div class="col-sm-10">
                {{form.op3}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">{{form.op4.label}}</label>
            <div class="col-sm-10">
                {{form.op4}}
            </div>
        </div>
</div>
{% endfor %}
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
    <div class="border-append">
                <button class="btn btn-success add-question">Add Question</button>
    </div>
</div>
</form>
{% endblock %}

{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    console.log("updateElementIndex")
    console.log("el", el)
    console.log("prefix", prefix);
    console.log("ndx", ndx)
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    console.log("cloneMore")
    console.log("selector", selector)
    console.log("prefix", prefix)
    var newElement = $(selector).clone(true);
    console.log("newElement", newElement);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log("total", total);
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    console.log("TOTAL_FORMS = ", $('#id_' + prefix + '-TOTAL_FORMS').val());
    $(selector).after(newElement);
    return false;
}
function deleteForm(prefix, btn) {
    console.log("deleteForm")
    console.log("prefix", prefix)
    console.log("btn", btn)
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        console.log("btn.closest", btn.closest('.border'));
        btn.closest('.border').remove();
        var forms = $('.border');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-question', function(e){
    e.preventDefault();
    cloneMore('div.border:last', 'form');
    return false;
});
$(document).on('click', '.remove-question', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
{% endblock %}
